1_curse/1_sem/Barcovsky/lab12 +/scheme.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/css" href="style/style.css"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="store">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="title" type="xs:string"/>
                <xs:element name="product" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ptitle" type="xs:string"/>
                            <xs:element name="price" type="xs:positiveInteger"/>
                            <xs:element name="year" type="xs:gYear"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>